<%- include('./partials/header.ejs') -%>
<h1>Compose</h1>
<div>
  <form method="POST">
    <input type="text" name="blog" />
    <button type="submit">Publish</button>
  </form>
</div>

<%- include('./partials/footer.ejs')-%>
